/CoreFrame.Identity/wwwroot/Upload
.vs
/CoreFrame.BlogWeb/obj
/CoreFrame.Business/obj
/CoreFrame.DataRepository/obj
/CoreFrame.Entity/obj
/CoreFrame.FileStoreServer/obj
/CoreFrame.Identity/obj
/CoreFrame.Util/obj
/CoreFrame.Web/obj
/CoreFrame.BlogWeb/bin
/CoreFrame.Business/bin
/CoreFrame.DataRepository/bin
/CoreFrame.Entity/bin
/CoreFrame.FileStoreServer/bin
/CoreFrame.Identity/bin
/CoreFrame.Util/bin
/CoreFrame.Web/bin