

<!DOCTYPE html>
<html>
<head>

    <meta>
    <title>资源不存在</title>
    <style type="text/css">
        a, abbr, acronym, address, blockquote, body, caption, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, label, legend, li, object, ol, p, pre, q, span, table, tbody, td, tfoot, th, thead, tr, ul {
            margin: 0;
            padding: 0;
            border-style: none;
        }

        a, abbr, acronym, address, blockquote, body, caption, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input[type=text], label, legend, li, object, ol, p, pre, q, span, table, tbody, td, textarea, tfoot, th, thead, tr, ul {
            vertical-align: baseline;
            font-size: 100%;
        }

        body {
            color: #333;
        }

        body, button, input, select, textarea {
            font: 14px/1.6 tahoma,arial,Hiragino Sans GB,\5FAE\8F6F\96c5\9ED1,\5b8b\4f53,WenQuanYi Micro Hei,sans-serif;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
            display: block;
        }

        audio, canvas, video {
            display: inline-block;
        }

            audio:not([controls]) {
                display: none;
            }

        button, input {
            vertical-align: middle !important;
        }

        [hidden] {
            display: none;
        }

        * {
            -webkit-text-size-adjust: none;
        }

        :focus {
            outline: 0;
        }

        a {
            color: #333;
            text-decoration: none;
        }

            a:focus, input:focus {
                outline-style: none;
                -moz-outline-style: none;
            }

            a:hover {
                color: #2b9bd1;
                text-decoration: none;
            }

        del {
            text-decoration: line-through;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        ol, ul {
            list-style: none;
        }

        textarea {
            resize: none;
        }

        em, i {
            font-style: normal;
        }

        img {
            vertical-align: middle;
        }

        .content {
            position: absolute;
            left: 50%;
            margin-top: -150px;
            margin-left: -25pc;
            padding-top: 438px;
            width: 50pc;
            height: 70px;
            background-image: url(http://www.codegloble.com/staticfiles/404.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            text-align: center;
        }

        h3 {
            font-weight: 400;
            font-size: 1.5em;
        }

            h3 a {
                margin-left: 20px;
                font-size: .8em;
            }

            h3 a, p {
                color: #777;
            }

        p {
            margin-top: 15px;
        }

            p a {
                margin: 0 10px;
                color: #777;
            }
    </style>
</head>
<body>
    <div class="content">
        <h3>很抱歉，您访问的页面失联了!</h3>
        <p><a href="http://www.codegloble.com" target="_blank">返回首页</a></p>
    </div>
</body>
</html>