@using CoreFrame.Business.Base_SysManage;
@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
    var manage = PermissionManage.OperatorHasPermissionValue("Pxproject.manage");//根据具体权限值设置

}
@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">查询类别</label>
            <select name="condition" class="easyui-combobox" data-options="width:100">
                <option value="">请选择</option>

                <option value="ProjectId">项目Id</option>
                <option value="ProjectName">项目名</option>
            </select>
            <input name="keyword" class="easyui-textbox" style="width:150px" />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
        @if (manage)
        {
            <div class="search_item">
                <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
                <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
                <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
            </div>
        }
    </div>
}
<div id="dataTable">

</div>

<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = 500;
    var formHeight = 270;

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'ProjectManage/Dev_Project/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },
                
                { title: '项目Id', field: 'ProjectId', width: 200 },
                { title: '项目名', field: 'ProjectName', width: 200 }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'ProjectManage/Dev_Project/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].Id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'ProjectManage/Dev_Project/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['Id'];
            });

            dialogComfirm('确认删除吗？', function () {
                $.postJSON(rootUrl + 'ProjectManage/Dev_Project/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('删除成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>