@model CoreFrame.Entity.ArticleManage.Article
@{
    ViewData["Title"] = Model.Title;
    ViewData["Keywords"] = Model.Title;
    ViewData["Description"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section head{
<link href="~/css/blog.css" rel="stylesheet" />
      
    }
}
<div class="col-md-10 col-md-offset-1 text-center">
    <h1 class="hestia-title entry-title">@Model.Title</h1>
</div>

<div class="main main-raised">
    <div class="blog-post blog-post-wrapper">
        <div class="container">

            <div class="row">
                <div class="single-post-wrap">
                    <div id="" class="section section-text">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
