@model CoreFrame.Entity.ArticleManage.Article
@{
    ViewData["Title"] = Model.Title;
    ViewData["Keywords"] = Model.Title;
    ViewData["Description"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section head{

        <style type="text/css">
            .hestia-title, .page-header.header-small .title {
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-size: 53.2px;
                line-height: 79.8px;
            }

            .main-raised {
                margin: 150px 100px 50px;
                border-radius: 6px 6px 0 0;
                -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
                box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            }

            .main {
                position: relative;
                background: #fff;
            }

            .blog-post {
                word-wrap: break-word;
                line-height: 25.2px;
            }

            .container {
                max-width: 100%;
            }

            .row {
                margin-right: -15px;
                margin-left: -15px;
                margin-top: 50px;
            }
        </style>
    }
}
<div class="col-md-10 col-md-offset-1 text-center">
    <h1 class="hestia-title entry-title">@Model.Title</h1>
</div>

<div class="main main-raised">
    <div class="blog-post blog-post-wrapper">
        <div class="container">

            <div class="row">
                <div class=" col-md-8 single-post-wrap">
                    <div id="" class="section section-text">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
